.winner-section {
  color: white;
}

.player-input {
  width: 250px;
  border: 1px solid black;
}

@media screen and (max-width: 450px) {
  .winner-section {
    color: blue;
  }

  .player-input {
    width: 100%;
    height: 50px;
    font-size: 14px;
  }
}
